/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}

a {
  color: #2e8555;
}

.hidden {
  display: none;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 16px;
}

.select select::-ms-expand {
  display: none;
}

.select select:focus,
.select select:hover {
  color: #000;
  background: #ccc;
}

.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #000000 transparent transparent transparent;
}

.select select:focus~.select__arrow,
.select select:hover~.select__arrow {
  border-top-color: #000;
}

.select select:disabled~.select__arrow {
  border-top-color: #ccc;
}

details {
  margin-top: 1rem;
  margin-left: 1rem;
}

details[open] {
  border-left: 4px solid #24292e;
  /* border-radius: .3em; */
  padding-left: 1rem;
  margin-left: -4px;
}

details[open] summary {
  font-weight: bold;
  margin-bottom: 1rem;
}

table tr th {
  text-transform: none;
}
