:root {
  --font: "Lato", sans-serif;
  --main: #388ede;
  --main-light: #68b1f5;
  --dark: #303438;
  --light: #fff;
  --light-grey: #fbfbfb;
  --grey: #e8e8e8;
  --mud: #e8e8e8;
  --dark-light: #5b5f63;
  --border-radius: 6px;
  /* Header */
  --header-transition-duration: 160ms;
}
