@media only screen and (max-width: 1023px) {
  .docsNavContainer {
    position: fixed;
    z-index: 100;
    top: 100px;
    left: 0;

    width: 100%;
    max-width: none;

    background: var(--grey);
  }

  .docsNavContainer .toc {
    padding: 0;
  }

  .docsNavContainer .toc .navBreadcrumb {
    position: relative;

    width: calc(100% - 30px);
    height: auto;

    margin-bottom: 0;
    margin-left: 20px;

    padding: 10px 0;

    overflow: visible;

    border: 0;

    background-color: transparent;
  }

  .docsSliderActive .toc .navBreadcrumb,
  .tocActive .docsNavContainer .toc .navBreadcrumb {
    border-bottom: 1px solid #D2D2D2;
  }

  .tocActive .onPageNav {
    position: fixed;
    top: 150px;
    right: auto;
    bottom: auto;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 0;

    background: var(--grey);
  }

  .tocActive .onPageNav .toc-headings {
    margin: 0 auto;

    padding: 20px;
  }

  @media (min-width: 576px) {
    .tocActive .onPageNav .toc-headings {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .tocActive .onPageNav .toc-headings {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .tocActive .onPageNav .toc-headings {
      max-width: 960px;
    }
  }
}

.tocToggler {
  margin-right: 0;
}

.toc .toggleNav .navToggle {
  position: relative;

  width: 20px;
  height: auto;

  margin-right: 10px;
}

.toc .toggleNav .navToggle:after,
.toc .toggleNav .navToggle:before {
  display: none;
}

.docsSliderActive .toc .toggleNav .navToggle:after,
.docsSliderActive .toc .toggleNav .navToggle:before {
  display: block;
}

.toc .toggleNav .navToggle i:after,
.toc .toggleNav .navToggle i:before {
  content: '';

  top: 50%;
  left: 0;

  width: 100%;
  height: 2px;

  margin: 0;

  transform: translateY(-50%);

  border: 0;

  border-radius: 25%;

  background: var(--dark);
}

.toc .toggleNav .navToggle i:after {
  margin-top: 5px;
}

.toc .toggleNav .navToggle i:before {
  margin-top: -4px;
}

.toggleNav h2 i {
  display: inline-block;

  transform: translateY(-1px);
}

.docsSliderActive .toc section .navGroups {
  margin: 0 20px;

  padding: 20px 0;
}
